In [13]:
import pandas as pd

In [15]:
file = "../Berlin_May 2018-May 2019.xlsx"
Berlin18_19_df = pd.read_excel(file)

Berlin18_19_df.head()

,Date,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2018-05-14,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Jan,Mitte,Brunnenstr. SÃ¼d,52.534537,13.402557,Entire home/apt,60,5,98,2018-04-10,3.84,4,161
1,2018-05-14,2776,"Quiet and sunny, 3min to subway, direct Tegel",3091,Laura,Mitte,Wedding Zentrum,52.552818,13.374060,Private room,55,3,36,2017-09-24,0.33,1,88
2,2018-05-14,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg SÃ¼dwest,52.534996,13.417579,Entire home/apt,90,62,143,2017-03-20,1.32,1,304
3,2018-05-14,3309,BerlinSpot SchÃ¶neberg near KaDeWe,4108,Jana,Tempelhof - SchÃ¶neberg,SchÃ¶neberg-Nord,52.498855,13.349065,Private room,26,5,23,2017-11-20,0.40,1,297
4,2018-05-14,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,52.543157,13.415091,Private room,47,2,169,2018-05-01,1.59,1,24

In [16]:
Berlin18_19_df = Berlin18_19_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'latitude', 'longitude', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Berlin18_19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310045 entries, 0 to 310044
Data columns (total 8 columns):
Date                              310045 non-null datetime64[ns]
id                                310045 non-null int64
host_id                           310045 non-null int64
neighbourhood                     310045 non-null object
room_type                         310045 non-null object
price                             310045 non-null int64
minimum_nights                    310045 non-null int64
calculated_host_listings_count    310045 non-null int64
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 18.9+ MB

In [18]:
Berlin18_19_df.head()

,Date,id,host_id,neighbourhood,room_type,price,minimum_nights,calculated_host_listings_count
0,2018-05-14,2015,2217,Brunnenstr. SÃ¼d,Entire home/apt,60,5,4
1,2018-05-14,2776,3091,Wedding Zentrum,Private room,55,3,1
2,2018-05-14,3176,3718,Prenzlauer Berg SÃ¼dwest,Entire home/apt,90,62,1
3,2018-05-14,3309,4108,SchÃ¶neberg-Nord,Private room,26,5,1
4,2018-05-14,7071,17391,Helmholtzplatz,Private room,47,2,1

In [20]:
Berlin18_19_df = Berlin18_19_df[ ['Date'] + [ col for col in Berlin18_19_df.columns if col != 'Date' ] ]

Berlin18_19_df.head()

,Date,id,host_id,neighbourhood,room_type,price,minimum_nights,calculated_host_listings_count
0,2018-05-14,2015,2217,Brunnenstr. SÃ¼d,Entire home/apt,60,5,4
1,2018-05-14,2776,3091,Wedding Zentrum,Private room,55,3,1
2,2018-05-14,3176,3718,Prenzlauer Berg SÃ¼dwest,Entire home/apt,90,62,1
3,2018-05-14,3309,4108,SchÃ¶neberg-Nord,Private room,26,5,1
4,2018-05-14,7071,17391,Helmholtzplatz,Private room,47,2,1

In [23]:
Berlin19_20_df = pd.read_excel("../Berlin_June 2019-May 2020.xlsx")

Berlin19_20_df = Berlin19_20_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'latitude', 'longitude', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Berlin19_20_df = Berlin19_20_df[ ['Date'] + [ col for col in Berlin19_20_df.columns if col != 'Date' ] ]

Berlin19_20_df.head()

,Date,Listing id,host_id,neighbourhood,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-06-08,1944,2164,Brunnenstr. Nord,Private room,21,120,1
1,2019-06-08,2015,2217,Brunnenstr. SÃ¼d,Entire home/apt,60,4,5
2,2019-06-08,2695,2986,Prenzlauer Berg Nordwest,Private room,17,2,1
3,2019-06-08,3176,3718,Prenzlauer Berg SÃ¼dwest,Entire home/apt,90,62,1
4,2019-06-08,3309,4108,SchÃ¶neberg-Nord,Private room,28,7,1

In [24]:
Berlin18_19_df.to_csv('Berlin.May18_May19.csv')

In [25]:
Berlin19_20_df.to_csv('Berlin.June19_May20.csv')