In [1]:
import pandas as pd

In [2]:
file = "../Berlin_May 2018-May 2019.xlsx"
Berlin18_19_df = pd.read_excel(file)

Berlin18_19_df.head()

,Date,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2018-05-14,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Jan,Mitte,Brunnenstr. SÃ¼d,52.534537,13.402557,Entire home/apt,60,5,98,2018-04-10,3.84,4,161
1,2018-05-14,2776,"Quiet and sunny, 3min to subway, direct Tegel",3091,Laura,Mitte,Wedding Zentrum,52.552818,13.374060,Private room,55,3,36,2017-09-24,0.33,1,88
2,2018-05-14,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg SÃ¼dwest,52.534996,13.417579,Entire home/apt,90,62,143,2017-03-20,1.32,1,304
3,2018-05-14,3309,BerlinSpot SchÃ¶neberg near KaDeWe,4108,Jana,Tempelhof - SchÃ¶neberg,SchÃ¶neberg-Nord,52.498855,13.349065,Private room,26,5,23,2017-11-20,0.40,1,297
4,2018-05-14,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,52.543157,13.415091,Private room,47,2,169,2018-05-01,1.59,1,24

In [3]:
Berlin18_19_df = Berlin18_19_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Berlin18_19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310045 entries, 0 to 310044
Data columns (total 10 columns):
Date                              310045 non-null datetime64[ns]
id                                310045 non-null int64
host_id                           310045 non-null int64
neighbourhood                     310045 non-null object
latitude                          310045 non-null float64
longitude                         310045 non-null float64
room_type                         310045 non-null object
price                             310045 non-null int64
minimum_nights                    310045 non-null int64
calculated_host_listings_count    310045 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(2)
memory usage: 23.7+ MB

In [4]:
Berlin18_19_df.head()

,Date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2018-05-14,2015,2217,Brunnenstr. SÃ¼d,52.534537,13.402557,Entire home/apt,60,5,4
1,2018-05-14,2776,3091,Wedding Zentrum,52.552818,13.374060,Private room,55,3,1
2,2018-05-14,3176,3718,Prenzlauer Berg SÃ¼dwest,52.534996,13.417579,Entire home/apt,90,62,1
3,2018-05-14,3309,4108,SchÃ¶neberg-Nord,52.498855,13.349065,Private room,26,5,1
4,2018-05-14,7071,17391,Helmholtzplatz,52.543157,13.415091,Private room,47,2,1

In [5]:
Berlin18_19_df = Berlin18_19_df[ ['Date'] + [ col for col in Berlin18_19_df.columns if col != 'Date' ] ]

Berlin18_19_df.head()

,Date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2018-05-14,2015,2217,Brunnenstr. SÃ¼d,52.534537,13.402557,Entire home/apt,60,5,4
1,2018-05-14,2776,3091,Wedding Zentrum,52.552818,13.374060,Private room,55,3,1
2,2018-05-14,3176,3718,Prenzlauer Berg SÃ¼dwest,52.534996,13.417579,Entire home/apt,90,62,1
3,2018-05-14,3309,4108,SchÃ¶neberg-Nord,52.498855,13.349065,Private room,26,5,1
4,2018-05-14,7071,17391,Helmholtzplatz,52.543157,13.415091,Private room,47,2,1

In [6]:
Berlin19_20_df = pd.read_excel("../Berlin_June 2019-May 2020.xlsx")

Berlin19_20_df = Berlin19_20_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Berlin19_20_df = Berlin19_20_df[ ['Date'] + [ col for col in Berlin19_20_df.columns if col != 'Date' ] ]

Berlin19_20_df.head()

,Date,Listing id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-06-08,1944,2164,Brunnenstr. Nord,52.54425,13.39749,Private room,21,120,1
1,2019-06-08,2015,2217,Brunnenstr. SÃ¼d,52.53454,13.40256,Entire home/apt,60,4,5
2,2019-06-08,2695,2986,Prenzlauer Berg Nordwest,52.54851,13.40455,Private room,17,2,1
3,2019-06-08,3176,3718,Prenzlauer Berg SÃ¼dwest,52.53500,13.41758,Entire home/apt,90,62,1
4,2019-06-08,3309,4108,SchÃ¶neberg-Nord,52.49885,13.34906,Private room,28,7,1

In [7]:
Berlin18_19_df.to_csv('Berlin.May18_May19-2.csv')

In [8]:
Berlin19_20_df.to_csv('Berlin.June19_May20-2.csv')

In [13]:
combined_df = [Berlin18_19_df, Berlin19_20_df]

In [14]:
BerlinAll_df = pd.concat(combined_df)

BerlinAll_df.head()

,Date,Listing id,calculated_host_listings_count,host_id,id,latitude,longitude,minimum_nights,neighbourhood,price,room_type
0,2018-05-14,NaN,4,2217,2015.0,52.534537,13.402557,5,Brunnenstr. SÃ¼d,60,Entire home/apt
1,2018-05-14,NaN,1,3091,2776.0,52.552818,13.374060,3,Wedding Zentrum,55,Private room
2,2018-05-14,NaN,1,3718,3176.0,52.534996,13.417579,62,Prenzlauer Berg SÃ¼dwest,90,Entire home/apt
3,2018-05-14,NaN,1,4108,3309.0,52.498855,13.349065,5,SchÃ¶neberg-Nord,26,Private room
4,2018-05-14,NaN,1,17391,7071.0,52.543157,13.415091,2,Helmholtzplatz,47,Private room

In [15]:
BerlinAll_df.tail()

,Date,Listing id,calculated_host_listings_count,host_id,id,latitude,longitude,minimum_nights,neighbourhood,price,room_type
296567,2020-05-14,43422635.0,1,31667990,NaN,52.50169,13.43058,1,nÃ¶rdliche Luisenstadt,65,Entire home/apt
296568,2020-05-14,43430815.0,1,346167573,NaN,52.54527,13.20534,1,Spandau Mitte,35,Private room
296569,2020-05-14,43432267.0,2,856367,NaN,52.48207,13.46962,1,PlÃ¤nterwald,40,Private room
296570,2020-05-14,43436282.0,1,226803356,NaN,52.45836,13.58493,1,Dammvorstadt,46,Private room
296571,2020-05-14,43438755.0,5,46357364,NaN,52.51203,13.40872,5,Alexanderplatz,76,Entire home/apt

In [16]:
BerlinAll_df.to_csv('Berlin_All.csv')