In [6]:
import pandas as pd

In [7]:
file = "CSVs/Rio18_05.csv"
Rio1805_df = pd.read_csv(file)

Rio1805_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,14063,Living in a Postcard,53598,Shalev,NaN,Botafogo,-22.946854,-43.182737,Entire home/apt,143,60,38,2018-03-04,0.37,1,363
1,17878,Very Nice 2Br - Copacabana - WiFi,68997,Matthias,NaN,Copacabana,-22.965919,-43.178962,Entire home/apt,290,4,207,2018-05-07,2.17,1,279
2,24480,Nice and cozy near Ipanema Beach,99249,Goya,NaN,Ipanema,-22.985698,-43.201935,Entire home/apt,231,3,85,2018-02-14,0.91,1,0
3,25026,Beautiful Modern Decorated Studio in Copa,102840,Viviane,NaN,Copacabana,-22.977117,-43.190454,Entire home/apt,158,4,211,2018-05-03,2.18,3,348
4,31560,NICE & COZY 1BDR - IPANEMA BEACH,135635,Renata,NaN,Ipanema,-22.983024,-43.214270,Entire home/apt,238,2,204,2018-05-07,2.13,1,334

In [8]:
Rio1805_df['date'] = '05/17/2018'
Rio1805_df['date']=pd.to_datetime(Rio1805_df['date'])

Rio1805_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39471 entries, 0 to 39470
Data columns (total 17 columns):
id                                39471 non-null int64
name                              39395 non-null object
host_id                           39471 non-null int64
host_name                         39435 non-null object
neighbourhood_group               0 non-null float64
neighbourhood                     39471 non-null object
latitude                          39471 non-null float64
longitude                         39471 non-null float64
room_type                         39471 non-null object
price                             39471 non-null int64
minimum_nights                    39471 non-null int64
number_of_reviews                 39471 non-null int64
last_review                       19392 non-null object
reviews_per_month                 19376 non-null float64
calculated_host_listings_count    39471 non-null int64
availability_365                  39471 non-null int64
date                              39471 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(7), object(5)
memory usage: 5.1+ MB

In [9]:
Rio1805_df = Rio1805_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1805_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39471 entries, 0 to 39470
Data columns (total 10 columns):
id                                39471 non-null int64
host_id                           39471 non-null int64
neighbourhood                     39471 non-null object
latitude                          39471 non-null float64
longitude                         39471 non-null float64
room_type                         39471 non-null object
price                             39471 non-null int64
minimum_nights                    39471 non-null int64
calculated_host_listings_count    39471 non-null int64
date                              39471 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(5), object(2)
memory usage: 3.0+ MB

In [10]:
Rio1805_df = Rio1805_df[ ['date'] + [ col for col in Rio1805_df.columns if col != 'date' ] ]

Rio1805_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2018-05-17,14063,53598,Botafogo,-22.946854,-43.182737,Entire home/apt,143,60,1
1,2018-05-17,17878,68997,Copacabana,-22.965919,-43.178962,Entire home/apt,290,4,1
2,2018-05-17,24480,99249,Ipanema,-22.985698,-43.201935,Entire home/apt,231,3,1
3,2018-05-17,25026,102840,Copacabana,-22.977117,-43.190454,Entire home/apt,158,4,3
4,2018-05-17,31560,135635,Ipanema,-22.983024,-43.214270,Entire home/apt,238,2,1

In [11]:
Rio1807_df = pd.read_csv("CSVs/Rio18_07.csv")
Rio1807_df['date'] = '07/13/2018'
Rio1807_df['date']=pd.to_datetime(Rio1807_df['date'])

Rio1807_df = Rio1807_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1807_df = Rio1807_df[ ['date'] + [ col for col in Rio1807_df.columns if col != 'date' ] ]

Rio1807_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2018-07-13,14063,53598,Botafogo,-22.946854,-43.182737,Entire home/apt,151,60,1
1,2018-07-13,17878,68997,Copacabana,-22.965919,-43.178962,Entire home/apt,306,4,1
2,2018-07-13,24480,99249,Ipanema,-22.985698,-43.201935,Entire home/apt,240,3,1
3,2018-07-13,25026,102840,Copacabana,-22.977117,-43.190454,Entire home/apt,159,4,3
4,2018-07-13,31560,135635,Ipanema,-22.983024,-43.214270,Entire home/apt,252,2,1

In [12]:
Rio1808_df = pd.read_csv("CSVs/Rio18_08.csv")
Rio1808_df['date'] = '08/16/2018'
Rio1808_df['date']=pd.to_datetime(Rio1808_df['date'])

Rio1808_df = Rio1808_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1808_df = Rio1808_df[ ['date'] + [ col for col in Rio1808_df.columns if col != 'date' ] ]

Rio1808_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2018-08-16,17878,68997,Copacabana,-22.965919,-43.178962,Entire home/apt,307,4,1
1,2018-08-16,24480,99249,Ipanema,-22.985698,-43.201935,Entire home/apt,233,3,1
2,2018-08-16,25026,102840,Copacabana,-22.977117,-43.190454,Entire home/apt,159,4,3
3,2018-08-16,31560,135635,Ipanema,-22.983024,-43.214270,Entire home/apt,253,2,1
4,2018-08-16,35636,153232,Ipanema,-22.988165,-43.193588,Entire home/apt,350,2,1

In [13]:
Rio1809_df = pd.read_csv("CSVs/Rio18_09.csv")
Rio1809_df['date'] = '09/14/2018'
Rio1809_df['date']=pd.to_datetime(Rio1809_df['date'])

Rio1809_df = Rio1809_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1809_df = Rio1809_df[ ['date'] + [ col for col in Rio1809_df.columns if col != 'date' ] ]

Rio1809_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2018-09-14,23107021,52126097,Copacabana,-22.978083,-43.190977,Entire home/apt,179,3,1
1,2018-09-14,15506059,15566016,Copacabana,-22.981783,-43.193041,Entire home/apt,150,2,2
2,2018-09-14,4837116,24895770,Copacabana,-22.983729,-43.192207,Entire home/apt,250,1,1
3,2018-09-14,27107344,204018880,Copacabana,-22.983367,-43.190687,Entire home/apt,150,2,1
4,2018-09-14,16229772,85733151,Copacabana,-22.976700,-43.192468,Entire home/apt,50,3,2

In [14]:
Rio1810_df = pd.read_csv("CSVs/Rio18_10.csv")
Rio1810_df['date'] = '10/12/2018'
Rio1810_df['date']=pd.to_datetime(Rio1810_df['date'])

Rio1810_df = Rio1810_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1810_df = Rio1810_df[ ['date'] + [ col for col in Rio1810_df.columns if col != 'date' ] ]

Rio1810_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2018-10-12,10233263,52590431,Copacabana,-22.982876,-43.192623,Entire home/apt,1116,1,1
1,2018-10-12,16532259,15311839,Copacabana,-22.970044,-43.187263,Entire home/apt,500,7,4
2,2018-10-12,23476870,8975746,Copacabana,-22.970900,-43.185946,Entire home/apt,1112,3,40
3,2018-10-12,12900932,70668128,Copacabana,-22.975115,-43.188711,Entire home/apt,1089,15,1
4,2018-10-12,18346333,114877442,Copacabana,-22.969995,-43.186085,Private room,192,1,2

In [15]:
Rio1811_df = pd.read_csv("CSVs/Rio18_11.csv")
Rio1811_df['date'] = '11/15/2018'
Rio1811_df['date']=pd.to_datetime(Rio1811_df['date'])

Rio1811_df = Rio1811_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1811_df = Rio1811_df[ ['date'] + [ col for col in Rio1811_df.columns if col != 'date' ] ]

Rio1811_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2018-11-15,17878,68997,Copacabana,-22.965919,-43.178962,Entire home/apt,300,4,1
1,2018-11-15,24480,99249,Ipanema,-22.985698,-43.201935,Entire home/apt,228,3,1
2,2018-11-15,25026,102840,Copacabana,-22.977117,-43.190454,Entire home/apt,159,4,3
3,2018-11-15,31560,135635,Ipanema,-22.983024,-43.214270,Entire home/apt,247,2,1
4,2018-11-15,35636,153232,Ipanema,-22.988165,-43.193588,Entire home/apt,342,2,1

In [16]:
Rio1812_df = pd.read_csv("CSVs/Rio18_12.csv")
Rio1812_df['date'] = '12/14/2018'
Rio1812_df['date']=pd.to_datetime(Rio1812_df['date'])

Rio1812_df = Rio1812_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1812_df = Rio1812_df[ ['date'] + [ col for col in Rio1812_df.columns if col != 'date' ] ]

Rio1812_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2018-12-14,17878,68997,Copacabana,-22.965919,-43.178962,Entire home/apt,306,4,1
1,2018-12-14,24480,99249,Ipanema,-22.985698,-43.201935,Entire home/apt,232,3,1
2,2018-12-14,25026,102840,Copacabana,-22.977117,-43.190454,Entire home/apt,159,4,3
3,2018-12-14,31560,135635,Ipanema,-22.983024,-43.214270,Entire home/apt,252,2,1
4,2018-12-14,34608,149407,São Conrado,-22.998669,-43.271372,Entire home/apt,3499,1,8

In [17]:
Rio1901_df = pd.read_csv("CSVs/Rio19_01.csv")
Rio1901_df['date'] = '01/18/2019'
Rio1901_df['date']=pd.to_datetime(Rio1901_df['date'])

Rio1901_df = Rio1901_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1901_df = Rio1901_df[ ['date'] + [ col for col in Rio1901_df.columns if col != 'date' ] ]

Rio1901_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-01-18,17878,68997,Copacabana,-22.965919,-43.178962,Entire home/apt,296,4,1
1,2019-01-18,24480,99249,Ipanema,-22.985698,-43.201935,Entire home/apt,225,3,1
2,2019-01-18,25026,102840,Copacabana,-22.977117,-43.190454,Entire home/apt,161,4,3
3,2019-01-18,31560,135635,Ipanema,-22.983024,-43.214270,Entire home/apt,243,2,1
4,2019-01-18,34608,149407,São Conrado,-22.998669,-43.271372,Entire home/apt,3498,1,8

In [18]:
Rio1902_df = pd.read_csv("CSVs/Rio19_02.csv")
Rio1902_df['date'] = '02/11/2019'
Rio1902_df['date']=pd.to_datetime(Rio1902_df['date'])

Rio1902_df = Rio1902_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1902_df = Rio1902_df[ ['date'] + [ col for col in Rio1902_df.columns if col != 'date' ] ]

Rio1902_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-02-11,17878,68997,Copacabana,-22.965919,-43.178962,Entire home/apt,295,4,1
1,2019-02-11,25026,102840,Copacabana,-22.977117,-43.190454,Entire home/apt,160,4,3
2,2019-02-11,31560,135635,Ipanema,-22.983024,-43.214270,Entire home/apt,242,2,1
3,2019-02-11,34608,149407,São Conrado,-22.998669,-43.271372,Entire home/apt,3499,1,8
4,2019-02-11,35636,153232,Ipanema,-22.988165,-43.193588,Entire home/apt,336,2,1

In [19]:
Rio1903_df = pd.read_csv("CSVs/Rio19_03.csv")
Rio1903_df['date'] = '03/13/2019'
Rio1903_df['date']=pd.to_datetime(Rio1903_df['date'])

Rio1903_df = Rio1903_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1903_df = Rio1903_df[ ['date'] + [ col for col in Rio1903_df.columns if col != 'date' ] ]

Rio1903_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-03-13,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,302,4,1
1,2019-03-13,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,161,4,3
2,2019-03-13,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,249,2,1
3,2019-03-13,34608,149407,São Conrado,-22.99867,-43.27137,Entire home/apt,3501,1,8
4,2019-03-13,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,344,2,1

In [20]:
Rio1904_df = pd.read_csv("CSVs/Rio19_04.csv")
Rio1904_df['date'] = '04/16/2019'
Rio1904_df['date']=pd.to_datetime(Rio1904_df['date'])

Rio1904_df = Rio1904_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1904_df = Rio1904_df[ ['date'] + [ col for col in Rio1904_df.columns if col != 'date' ] ]

Rio1904_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-04-16,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,302,5,1
1,2019-04-16,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,159,4,3
2,2019-04-16,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,252,2,1
3,2019-04-16,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,350,2,1
4,2019-04-16,35764,153691,Copacabana,-22.98127,-43.19046,Entire home/apt,221,3,1

In [21]:
Rio1905_df = pd.read_csv("CSVs/Rio19_05.csv")
Rio1905_df['date'] = '05/21/2019'
Rio1905_df['date']=pd.to_datetime(Rio1905_df['date'])

Rio1905_df = Rio1905_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1905_df = Rio1905_df[ ['date'] + [ col for col in Rio1905_df.columns if col != 'date' ] ]

Rio1905_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-05-21,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,318,5,1
1,2019-05-21,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,159,4,3
2,2019-05-21,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,265,2,1
3,2019-05-21,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,367,2,1
4,2019-05-21,35764,153691,Copacabana,-22.98127,-43.19046,Entire home/apt,220,3,1

In [22]:
Rio1906_df = pd.read_csv("CSVs/Rio19_06.csv")
Rio1906_df['date'] = '06/19/2019'
Rio1906_df['date']=pd.to_datetime(Rio1906_df['date'])

Rio1906_df = Rio1906_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1906_df = Rio1906_df[ ['date'] + [ col for col in Rio1906_df.columns if col != 'date' ] ]

Rio1906_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-06-19,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,305,5,1
1,2019-06-19,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,158,4,3
2,2019-06-19,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,251,2,1
3,2019-06-19,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,347,2,1
4,2019-06-19,35764,153691,Copacabana,-22.98127,-43.19046,Entire home/apt,220,3,1

In [23]:
Rio1907_df = pd.read_csv("CSVs/Rio19_07.csv")
Rio1907_df['date'] = '07/15/2019'
Rio1907_df['date']=pd.to_datetime(Rio1907_df['date'])

Rio1907_df = Rio1907_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1907_df = Rio1907_df[ ['date'] + [ col for col in Rio1907_df.columns if col != 'date' ] ]

Rio1907_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-07-15,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,296,4,1
1,2019-07-15,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,161,4,3
2,2019-07-15,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,243,2,1
3,2019-07-15,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,337,2,1
4,2019-07-15,35764,153691,Copacabana,-22.98127,-43.19046,Entire home/apt,221,3,1

In [24]:
Rio1908_df = pd.read_csv("CSVs/Rio19_08.csv")
Rio1908_df['date'] = '08/15/2019'
Rio1908_df['date']=pd.to_datetime(Rio1908_df['date'])

Rio1908_df = Rio1908_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1908_df = Rio1908_df[ ['date'] + [ col for col in Rio1908_df.columns if col != 'date' ] ]

Rio1908_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-08-15,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,314,4,1
1,2019-08-15,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,159,4,3
2,2019-08-15,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,258,2,1
3,2019-08-15,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,358,2,1
4,2019-08-15,35764,153691,Copacabana,-22.98127,-43.19046,Entire home/apt,131,3,1

In [25]:
Rio1909_df = pd.read_csv("CSVs/Rio19_09.csv")
Rio1909_df['date'] = '09/23/2019'
Rio1909_df['date']=pd.to_datetime(Rio1909_df['date'])

Rio1909_df = Rio1909_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1909_df = Rio1909_df[ ['date'] + [ col for col in Rio1909_df.columns if col != 'date' ] ]

Rio1909_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-09-23,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,329,4,1
1,2019-09-23,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,158,7,3
2,2019-09-23,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,270,2,1
3,2019-09-23,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,374,2,1
4,2019-09-23,35764,153691,Copacabana,-22.98127,-43.19046,Entire home/apt,129,3,1

In [26]:
Rio1910_df = pd.read_csv("CSVs/Rio19_10.csv")
Rio1910_df['date'] = '10/19/2019'
Rio1910_df['date']=pd.to_datetime(Rio1910_df['date'])

Rio1910_df = Rio1910_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1910_df = Rio1910_df[ ['date'] + [ col for col in Rio1910_df.columns if col != 'date' ] ]

Rio1910_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-10-19,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,325,4,1
1,2019-10-19,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,162,7,3
2,2019-10-19,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,267,2,1
3,2019-10-19,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,370,2,1
4,2019-10-19,35764,153691,Copacabana,-22.98127,-43.19046,Entire home/apt,128,3,1

In [27]:
Rio1911_df = pd.read_csv("CSVs/Rio19_11.csv")
Rio1911_df['date'] = '11/22/2019'
Rio1911_df['date']=pd.to_datetime(Rio1911_df['date'])

Rio1911_df = Rio1911_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1911_df = Rio1911_df[ ['date'] + [ col for col in Rio1911_df.columns if col != 'date' ] ]

Rio1911_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-11-22,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,332,4,1
1,2019-11-22,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,160,7,3
2,2019-11-22,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,273,2,1
3,2019-11-22,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,378,2,1
4,2019-11-22,35764,153691,Copacabana,-22.98127,-43.19046,Entire home/apt,130,3,1

In [28]:
Rio1912_df = pd.read_csv("CSVs/Rio19_12.csv")
Rio1912_df['date'] = '12/23/2019'
Rio1912_df['date']=pd.to_datetime(Rio1912_df['date'])

Rio1912_df = Rio1912_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio1912_df = Rio1912_df[ ['date'] + [ col for col in Rio1912_df.columns if col != 'date' ] ]

Rio1912_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-12-23,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,323,4,1
1,2019-12-23,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,159,7,3
2,2019-12-23,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,266,2,1
3,2019-12-23,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,368,2,1
4,2019-12-23,35764,153691,Copacabana,-22.98127,-43.19046,Entire home/apt,131,3,1

In [29]:
Rio2001_df = pd.read_csv("CSVs/Rio20_01.csv")
Rio2001_df['date'] = '01/21/2020'
Rio2001_df['date']=pd.to_datetime(Rio2001_df['date'])

Rio2001_df = Rio2001_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio2001_df = Rio2001_df[ ['date'] + [ col for col in Rio2001_df.columns if col != 'date' ] ]

Rio2001_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2020-01-21,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,332,5,1
1,2020-01-21,21280,81163,Ipanema,-22.98467,-43.19611,Entire home/apt,336,5,1
2,2020-01-21,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,159,7,3
3,2020-01-21,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,273,2,1
4,2020-01-21,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,378,2,1

In [30]:
Rio2002_df = pd.read_csv("CSVs/Rio20_02.csv")
Rio2002_df['date'] = '02/25/2020'
Rio2002_df['date']=pd.to_datetime(Rio2002_df['date'])

Rio2002_df = Rio2002_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio2002_df = Rio2002_df[ ['date'] + [ col for col in Rio2002_df.columns if col != 'date' ] ]

Rio2002_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2020-02-25,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,347,5,1
1,2020-02-25,21280,81163,Ipanema,-22.98467,-43.19611,Entire home/apt,351,5,1
2,2020-02-25,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,158,7,3
3,2020-02-25,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,285,2,1
4,2020-02-25,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,395,2,1

In [31]:
Rio2003_df = pd.read_csv("CSVs/Rio20_03.csv")
Rio2003_df['date'] = '03/18/2020'
Rio2003_df['date']=pd.to_datetime(Rio2003_df['date'])

Rio2003_df = Rio2003_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio2003_df = Rio2003_df[ ['date'] + [ col for col in Rio2003_df.columns if col != 'date' ] ]

Rio2003_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2020-03-18,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,289,5,1
1,2020-03-18,21280,81163,Ipanema,-22.98467,-43.19611,Entire home/apt,406,5,1
2,2020-03-18,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,162,7,3
3,2020-03-18,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,330,2,1
4,2020-03-18,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,457,2,1

In [32]:
Rio2004_df = pd.read_csv("CSVs/Rio20_04.csv")
Rio2004_df['date'] = '04/20/2020'
Rio2004_df['date']=pd.to_datetime(Rio2004_df['date'])

Rio2004_df = Rio2004_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio2004_df = Rio2004_df[ ['date'] + [ col for col in Rio2004_df.columns if col != 'date' ] ]

Rio2004_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2020-04-20,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,218,5,1
1,2020-04-20,21280,81163,Ipanema,-22.98467,-43.19611,Entire home/apt,422,5,1
2,2020-04-20,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,158,7,3
3,2020-04-20,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,342,2,1
4,2020-04-20,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,479,2,1

In [33]:
Rio2005_df = pd.read_csv("CSVs/Rio20_05.csv")
Rio2005_df['date'] = '05/24/2020'
Rio2005_df['date']=pd.to_datetime(Rio2005_df['date'])

Rio2005_df = Rio2005_df.drop(columns=['name', 'host_name', 'neighbourhood_group', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365'])

Rio2005_df = Rio2005_df[ ['date'] + [ col for col in Rio2005_df.columns if col != 'date' ] ]

Rio2005_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2020-05-24,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,188,7,1
1,2020-05-24,21280,81163,Ipanema,-22.98467,-43.19611,Entire home/apt,442,5,1
2,2020-05-24,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,160,7,3
3,2020-05-24,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,359,2,1
4,2020-05-24,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,495,2,1

In [34]:
year1 = [Rio1805_df, Rio1807_df, Rio1808_df, Rio1809_df, Rio1810_df, Rio1811_df, Rio1812_df, Rio1901_df, Rio1902_df,Rio1903_df, Rio1904_df]

year2 = [Rio1905_df, Rio1906_df, Rio1907_df, Rio1908_df, Rio1909_df, Rio1910_df, Rio1911_df, Rio1912_df, Rio2001_df, Rio2002_df, Rio2003_df, Rio2004_df]

In [35]:
Rioy1_df = pd.concat(year1)

Rioy1_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2018-05-17,14063,53598,Botafogo,-22.946854,-43.182737,Entire home/apt,143,60,1
1,2018-05-17,17878,68997,Copacabana,-22.965919,-43.178962,Entire home/apt,290,4,1
2,2018-05-17,24480,99249,Ipanema,-22.985698,-43.201935,Entire home/apt,231,3,1
3,2018-05-17,25026,102840,Copacabana,-22.977117,-43.190454,Entire home/apt,158,4,3
4,2018-05-17,31560,135635,Ipanema,-22.983024,-43.214270,Entire home/apt,238,2,1

In [36]:
Rioy1_df.tail()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
36094,2019-04-16,33915334,232978078,Botafogo,-22.96037,-43.19567,Entire home/apt,350,3,1
36095,2019-04-16,33915793,230248024,Copacabana,-22.96679,-43.18816,Private room,120,1,1
36096,2019-04-16,33915844,193486288,Recreio dos Bandeirantes,-23.00788,-43.45618,Private room,179,1,1
36097,2019-04-16,33924654,71459951,Copacabana,-22.96687,-43.19085,Private room,109,1,1
36098,2019-04-16,33932038,13272749,Barra da Tijuca,-23.00489,-43.32671,Private room,330,3,5

In [37]:
Rioy2_df = pd.concat(year2)

Rioy2_df.head()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
0,2019-05-21,17878,68997,Copacabana,-22.96592,-43.17896,Entire home/apt,318,5,1
1,2019-05-21,25026,102840,Copacabana,-22.97712,-43.19045,Entire home/apt,159,4,3
2,2019-05-21,31560,135635,Ipanema,-22.98302,-43.21427,Entire home/apt,265,2,1
3,2019-05-21,35636,153232,Ipanema,-22.98816,-43.19359,Entire home/apt,367,2,1
4,2019-05-21,35764,153691,Copacabana,-22.98127,-43.19046,Entire home/apt,220,3,1

In [38]:
Rioy2_df.tail()

,date,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,calculated_host_listings_count
35865,2020-04-20,43222409,27531233,Itanhangá,-22.98356,-43.30366,Private room,64,2,5
35866,2020-04-20,43222788,62913860,Ipanema,-22.98526,-43.19385,Private room,68,28,1
35867,2020-04-20,43222989,128128458,Copacabana,-22.97516,-43.19261,Entire home/apt,248,3,2
35868,2020-04-20,43223062,344170057,Leme,-22.96379,-43.17193,Entire home/apt,121,2,1
35869,2020-04-20,43227835,125684729,Barra da Tijuca,-22.97738,-43.37373,Private room,250,1,2

In [39]:
Rioy1_df.to_csv('Rio_May18April19.csv')

In [40]:
Rioy2_df.to_csv('Rio_May19April20.csv')